In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Relative file paths
fileDir = os.path.abspath(os.path.dirname(""))
korean_csv = os.path.join(fileDir, "name_kor_combined_space.csv")
usa_csv = os.path.join(fileDir, "name_usa_combined_space.csv")

In [3]:
# Read csv as dataframe
korean_df = pd.read_csv(korean_csv)
korean_df = korean_df[['name']]
usa_df = pd.read_csv(usa_csv)
usa_df = usa_df[['name']]
print(len(korean_df), len(usa_df))

27710 1217781

In [5]:
# Input the number of samples
num = 27710
usa_df = usa_df.sample(n=num*2).sort_values(by=['name']).reset_index(drop=True)
korean_df = korean_df.sample(n=num).sort_values(by=['name']).reset_index(drop=True)

In [6]:
# Import columns for American names
usa_df['n_or_f'] = 'f'
usa_df['name_len'] = usa_df['name'].str.len()
usa_df.head()

            name n_or_f  name_len
0  abbott adolfo      f        13
1  abbott alfred      f        13
2  abbott alvaro      f        13
3    abbott amos      f        11
4   abbott arden      f        12

In [7]:
# Import columns for Korean names
korean_df['n_or_f'] = 'n'
korean_df['name_len'] = korean_df['name'].str.len()
korean_df.head()

            name n_or_f  name_len
0  ahn byungchul      n        13
1    ahn byungho      n        11
2    ahn chaewon      n        11
3     ahn chunja      n        10
4     ahn chunja      n        10

In [8]:
# Combine two sets of names
combined_df = pd.concat([usa_df, korean_df])
combined_df = combined_df.reset_index(drop=True)
print(combined_df)

                     name n_or_f  name_len
0           abbott adolfo      f        13
1           abbott alfred      f        13
2           abbott alvaro      f        13
3             abbott amos      f        11
4            abbott arden      f        12
5            abbott barry      f        12
6         abbott benedict      f        15
7             abbott bert      f        11
8            abbott billy      f        12
9            abbott chase      f        12
10     abbott christopher      f        18
11          abbott dorian      f        13
12           abbott elvis      f        12
13         abbott emerson      f        14
14          abbott fabian      f        13
15         abbott frankie      f        14
16         abbott freddie      f        14
17          abbott george      f        13
18          abbott gerald      f        13
19         abbott gregory      f        14
20             abbott hai      f        10
21            abbott hong      f        11
22         abbott jacinto      f        14
23           abbott jamel      f        12
24          abbott jimmie      f        13
25           abbott jonah      f        12
26          abbott jordon      f        13
27          abbott justin      f        13
28           abbott kasey      f        12
29           abbott kelly      f        12
...                   ...    ...       ...
83100          yun sungki      n        10
83101         yun sungmin      n        11
83102         yun sungmin      n        11
83103         yun sungsoo      n        11
83104        yun sunyoung      n        12
83105          yun woojin      n        10
83106           yun yeeun      n         9
83107           yun yejun      n         9
83108           yun yejun      n         9
83109       yun youngchul      n        13
83110         yun younggi      n        11
83111        yun younggil      n        12
83112        yun younghee      n        12
83113         yun youngho      n        11
83114         yun youngho      n        11
83115       yun younghwan      n        13
83116         yun youngil      n        11
83117         yun youngja      n        11
83118         yun youngja      n        11
83119        yun youngjin      n        12
83120         yun youngmi      n        11
83121        yun youngsik      n        12
83122        yun youngsik      n        12
83123        yun youngsoo      n        12
83124       yun youngsook      n        13
83125         yun youngsu      n        11
83126           yun yujin      n         9
83127           yun yujun      n         9
83128          yun yunseo      n        10
83129          yun yunseo      n        10

[83130 rows x 3 columns]

In [9]:
# Export as csv
combined_df.to_csv("origin_in.csv")